#tabs {
	margin: 20px;
	padding: 10px;
	border: 2px solid #888;
	border-radius: 2em 2em 2em 2em;
	box-shadow: 2px 2px 2px #CCC;
	
	overflow: auto;
	height: 225px;
}

#tabs p {
	padding: 0 20px 20px;
}

#tabs #tabLinks li {
	float: left;
	padding: 0;
}

#tabs #tabLinks a {
	display: block;
	width: 120px;
	text-align: center;
	
	padding: 6px 10px;
	margin-right: 2px;
	
	border: 2px solid #666;
	border-bottom: 0;
	border-radius: 0.8em 0.8em 0 0; /* top-right and top-left get a curve */
	
	background: #999;
	color: #333;
}

#tabs #tabLinks a.selected {
	margin-bottom: -2px; /* By setting a negative margin, the panel's upper border will become invisible, creating a tab-like effect */
	border-bottom: 2px solid #DDD;
	background: #DDD;
}

#tabs #panels .panel {
	clear: both; /* to prevent the divs from getting placed next to the links */
	
	border: 2px solid #666;
	background: #DDD;
	border-radius: 0 2em 1em 6em;
	box-shadow: 2px 2px 2px #666;
	height: 190px;
}

#tabs #panels .panel p {
	margin-top: 15px;
}

#tabs #panels .panel .codeDemo {
	margin: 0 100px 10px 75px;
	overflow: auto;
	height: 75px;
}

#tabs #panels .panel .codeDemo a.reference {
	float: left;
	width: 50px;
	
	padding: 15px 20px;
	border: 2px solid #EFEFEF;
	border-radius: 5em;
	margin: 0 5px;
	
	font-size: 1.2em;
	text-align: center;
	
	box-shadow: 1px 1px 1px #EFEFEF, -1px -1px 1px #EFEFEF;
	background: #56A0D3;
	color: #EFEFEF;
	
	opacity: 0.75;
	filter: alpha(opacity = 75);

}

a.reference:hover {
	opacity: 1;
	filter: alpha(opacity = 100);
}

#tabs #panels .panel a.extLink {
	color: #56A0D3;
	background: url(../images/faq_href.png) right center no-repeat; /* Should display a question mark */
	padding-right: 20px;
}

